/******************************************
/* CSS
/*******************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: sans-serif;
  background: black;
}
.cockpit {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}
.photoDay{
  width: 100%;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0;
}
button{
  height: 9%;
  width: 4%;
  background: #FF3700;
  color: #FFFFFF;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 1px #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 15px;
  top: 78%;
  left: 47%;
  position: absolute;
  z-index: 1;
}
button:hover{
  cursor: pointer;
  color: #FF3700;
  text-shadow: none;
  background: #f2e621;
  box-shadow: 0 0 10px #f2e621, 0 0 20px #f2e621, 0 0 40px #f2e621;
	border: 1px solid #FFFFFF;
}
.random{
  top: 90%;
  left: 47%;
  background: #13A3FE;
}
input[type="date"]{
  top: 78%;
  left: 31%;
  width: 12%;
  height: 92px;
  color: #FFFFFF;
  background: #010504;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  border: 1px solid gray;
}
::-webkit-calendar-picker-indicator{
  background-color: white;
  padding: 1px;
  margin-right: 20px;
}
::-webkit-calendar-picker-indicator:hover{
	cursor: pointer;
}
input[type="date"]:hover {
  cursor: pointer;
  background: #f2e621;
  color: black;
  box-shadow: 0 0 10px #f2e621;
	border: 2px solid #FFFFFF;
}
.explanationBox{
  top: 40%;
  left: 60%;
  position: absolute;
  z-index: 1;
  width: 32%;
  height: 37%;
  background: rgba(38,227,74,0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(38,227,74,0.5);
  border-right: 1px solid rgba(38,227,74,0.5);
  overflow: auto;
}
.explanationBox:hover{
	border: 1px solid rgba(38,227,74,1);
}
h3 {
  color: #26e34a;
	font-size: 18px;
  text-shadow: 2px 2px 2px black;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  padding: 30px;
}
iframe{
  top: 40%;
  left: 60%;
  position: absolute;
  z-index: 1;
  width: 32%;
  height: 37%;
	background: rgba(38,227,74,0.08);
	backdrop-filter: blur(2px);
  border-radius: 10px;
	border: 1px solid rgba(38,227,74,0.5);
  border-right: 1px solid rgba(38,227,74,0.5);
}
.hidden{
	display: none;
}

/* ------------------MEDIA QUERY-LARGE LAPTOP ---------------------- */

@media screen and (min-width: 1024px) and (max-width: 1500px){

	.explanationBox, iframe {
	  top: 45%;
	  left: 60%;
	  width: 32%;
	  height: 32%;
	}
	button{
	  font-size: 10px;
	  font-weight: normal;
	}
	input[type="date"]{
	  width: 12%;
	  height: 8%;
	  font-size: 16px;
	}
	h3{
		font-size: 14px;
		line-height: 18px;
	}
}

/* ------------------MEDIA QUERY-SMALL LAPTOP ---------------------- */

@media screen and (min-width: 820px) and (max-width: 1024px){

	.explanationBox, iframe{
		top: 45%;
		left: 60%;
		width: 32%;
		height: 32%;
	}
	button{
		font-size: 8px;
		font-weight: normal;
	}
	input[type="date"]{
		width: 12%;
		height: 8%;
		font-size: 16px;
	}
	h3{
		font-size: 12px;
		line-height: 15px;
	}
}

/* ------------------MEDIA QUERY-TABLET ---------------------- */

@media screen and (min-width: 480px) and (max-width: 820px){

	.cockpit {
    height: 40vh;
  }
  .photoDay{
    height: 40vh;
  }
  .explanationBox{
    top: 50%;
    left: 10%;
    width: 80vw;
    height: 45vh;
  }
  input[type="date"]{
    top: 42%;
    left: 10%;
    width: 40%;
    height: 5%;
    font-size: 16px;
  }
  button{
    height: 5%;
    width: 15%;
    top: 42%;
    left: 55%;
    font-size: 10px;
		font-weight: normal;
    border-radius: 0;
  }
  .random{
    top: 42%;
    left: 75%;
  }
	h3{
		font-size: 16px;
		line-height: 20px;
	}
	iframe{
		top: 10%;
		left: 10%;
		width: 80vw;
		height: 25vh;
	}
}

/* ------------------MEDIA QUERY-MOBILE ---------------------- */

@media screen and (max-width: 480px){

  .cockpit {
    height: 40vh;
  }
  .photoDay{
    height: 40vh;
  }
  .explanationBox{
    top: 50%;
    left: 10%;
    width: 80vw;
    height: 45vh;
  }
  input[type="date"]{
    top: 42%;
    left: 10%;
    width: 40%;
    height: 5%;
    font-size: 16px;
  }
  button{
    height: 5%;
    width: 15%;
    top: 42%;
    left: 55%;
    font-size: 10px;
		font-weight: normal;
    border-radius: 0;
  }
  .random{
    top: 42%;
    left: 75%;
  }
	h3{
		font-size: 14px;
		line-height: 18px;
	}
	iframe{
		top: 10%;
		left: 10%;
		width: 80vw;
		height: 25vh;
	}
}
